page-departments {
  .search{
    background-color: $colorHeader;
    ion-icon{
      font-size: 20px;
    }
  }
  .scan{
    font-size: 14px;
  }
  .goButton{
    background-color: $colorWhite;
  }
  .department{
    .item-ios{
        background:none;
    }
    .item-md{
        background:none;
    }

    ion-label{
       background-color: $colorWhite;
      text-align: center;
      button{
        img{
            width: 75px;
            height: 75px;
          }
          span{
            font-size: 12px;
            text-transform: capitalize;
            white-space: nowrap;
          }
          & ion-button-effect {
            display: none;
          }
      }  
    }
  }
}
