.header-image{
	background-image: url('{{defaultUrl}}');
	background-repeat: no-repeat;
    background-size: cover;
}

ion-title{
          
      
          
            font-size: 12px;
            text-transform: capitalize;
            white-space: nowrap;
         
         
      }  
    