<ion-header >
  <ion-navbar>
    <ion-title> {{product.name}}</ion-title>
    
  
      
    
  </ion-navbar>
</ion-header>



<!-- <ion-content padding>
  <ion-list >
    <ion-item *ngFor="let subproduct of subproducts" no-lines>
    <button ion-item  detail-none> 
      <ion-avatar item-left>
        <img src="{{subproduct.images[0].url}}">
        

      </ion-avatar>
      <h2>{{subproduct.name}}</h2>
      </button>

     
    </ion-item>
  </ion-list>
</ion-content>  -->


<ion-content class="cards-bg">

 <ion-card  *ngFor="let subproduct of subproducts" (click)="productDetailHandler($event, subproduct)">

    <img src="{{product.image.url}}">

    <ion-card-content>
      <ion-card-title>
        {{subproduct.name}}
      </ion-card-title>
      <p>rating : {{subproduct.rating}}</p>
      <p>
        ${{subproduct.prices[0].min}}
      </p>
      <p color="danger"> {{subproduct.marketingLabel}} </p>
    </ion-card-content>
 </ion-card>
</ion-content>
